<div class="row clearfix" [@routerTransition]>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card main-content">

            <div class="body table-responsive">
                <div class="row">
                    <form>
                        <div class="col-md-11">
                            <mat-form-field>
                                <input matInput [placeholder]="l('Tìm kiếm')" [(ngModel)]="keyword" name="keyword" />
                            </mat-form-field>
                        </div>
                        <div class="col-md-1">
                            <button mat-raised-button color="primary" class="buttonSearch pull-right mt-3" (click)="getDataPage(1)">
                                <i class="material-icons">search</i>
                            </button>
                        </div>
                    </form>
                    <mat-accordion class="col-md-12">
                        <mat-expansion-panel [expanded]="true" hideToggle="true" disabled="true">
                            <mat-expansion-panel-header style="background-color:#e9e9e9;" class="expansion-panel-header">
                                <mat-panel-title>
                                    {{"Quản lý công ty" | localize}}
                                    <div class="btn-action">
                                        <button mat-raised-button color="primary" (click)="createCV()">
                                            {{ "Thêm mới" | localize }}
                                        </button>
                                    </div>
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <div class="body table-responsive">
                                <table class="table table-hover table-striped gs-table" [busy]="isTableLoading" matSort (matSortChange)="sortData($event)">
                                    <thead>
                                        <tr>
                                            <th mat-sort-header="TenCty">{{ "Tên Cty" | localize }}</th>
                                            <th mat-sort-header="SDT">{{ "Số điện thoại" | localize }}</th>
                                            <th mat-sort-header="Email">{{ "Email" | localize }}</th>
                                            <th mat-sort-header="SoUVUT">{{ "Số ứng trúng tuyển" | localize }}</th>
                                            <th mat-sort-header="VTUVUT">{{ "Note" | localize }}</th>
                                            <th>{{l('Tính Năng')}}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let company of companys | paginate: {
                                                    id: 'server',
                                                    itemsPerPage: pageSize,
                                                    currentPage: pageNumber,
                                                    totalItems: totalItems
                                                  }
                                                  ">
                                            <td>{{company.tenCTy}}</td>
                                            <td>
                                                <a [href]="getPhone(company.sdt)">
                                                    {{company.sdt}}
                                                </a>
                                            </td>
                                            <td>
                                                <a [href]="getEmail(company.email)">
                                                    {{company.email}}
                                                </a>
                                            </td>
                                            <td>{{company.soUVTT}}</td>
                                            <td>{{company.note}}</td>
                                            <td>
                                                <button class="action-button" mat-icon-button [matMenuTriggerFor]="actionsMenu">
                                                    <mat-icon>menu</mat-icon>
                                                </button>
                                                <mat-menu #actionsMenu="matMenu">
                                                    <button mat-menu-item (click)="editCV(company)" class="btn-edit">
                                                        <mat-icon>edit</mat-icon>
                                                        <span>{{ "Chỉnh Sửa" | localize }}</span>
                                                    </button>

                                                    <button mat-menu-item (click)="open_HD(company)">
                                                        <mat-icon>visibility</mat-icon>
                                                        <span>{{ "Xem hợp đồng" | localize }}</span>
                                                    </button>

                                                    <button mat-menu-item (click)="open_TT(company)">
                                                        <mat-icon>visibility</mat-icon>
                                                        <span>{{ "Xem thanh toán" | localize }}</span>
                                                    </button>

                                                    <button mat-menu-item (click)="dowload_HD(company)">
                                                        <mat-icon>arrow_downward</mat-icon>
                                                        <span>{{ "Tải hợp đồng" | localize }}</span>
                                                    </button>

                                                    <button mat-menu-item (click)="dowload_TT(company)">
                                                        <mat-icon>arrow_downward</mat-icon>
                                                        <span>{{ "Tải thanh toán" | localize }}</span>
                                                    </button>

                                                    <button mat-menu-item (click)="delete(company)">
                                                        <mat-icon>delete</mat-icon>
                                                        <span>{{ "Xóa" | localize }}</span>
                                                    </button>

                                                </mat-menu>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                                <mat-paginator [length]="totalItems" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 25, 100,200,500,1000]" (page)="onChangedPanigation($event)">
                                </mat-paginator>

                                <div class="abp-pagination-controls-wrapper" *ngIf="totalItems > pageSize">
                                    <abp-pagination-controls (pageChange)="getDataPage($event)" id="server">
                                    </abp-pagination-controls>
                                </div>
                            </div>

                        </mat-expansion-panel>
                    </mat-accordion>
                </div>
            </div>
        </div>
    </div>
</div>
