<div class="row clearfix" [@routerTransition]>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card main-content">

            <div class="body table-responsive">
                <div class="row">
                    <form>
                        <div class="col-md-4">
                            <mat-form-field>
                                <input matInput [placeholder]="l('Tìm kiếm')" [(ngModel)]="keyword" name="keyword"
                                    (ngModelChange)="getAll()" />
                            </mat-form-field>
                        </div>

                        <div class="col-md-4">
                            <mat-form-field>
                                <input matInput [matDatepicker]="picker2" [placeholder]="'Ngày bắt đầu PV' | localize"
                                    name="startNgaypv" [(ngModel)]="startNgaypv" (dateChange)="getAll()" />
                                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                <mat-datepicker #picker2></mat-datepicker>
                            </mat-form-field>
                        </div>

                        <div class="col-md-4">
                            <mat-form-field>
                                <input matInput [matDatepicker]="picker3" [placeholder]="'Ngày kết thúc PV' | localize"
                                    name="endNgaypv" [(ngModel)]="endNgaypv" (dateChange)="getAll()" />
                                <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                                <mat-datepicker #picker3></mat-datepicker>
                            </mat-form-field>
                        </div>


                        <div class="col-md-4">
                            <mat-form-field>
                                <input matInput [matDatepicker]="picker" [placeholder]="'Ngày bắt đầu gửi CV' | localize"
                                    name="StartDate" [(ngModel)]="startDate" (dateChange)="getAll()" />
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>
                        </div>

                        <div class="col-md-4">
                            <mat-form-field>
                                <input matInput [matDatepicker]="picker1" [placeholder]="'Ngày kết thúc gửi CV' | localize"
                                    name="EndDate" [(ngModel)]="endDate" (dateChange)="getAll()" />
                                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                <mat-datepicker #picker1></mat-datepicker>
                            </mat-form-field>
                        </div>

                        <div class="col-md-4">
                            <mat-form-field>
                                <mat-select [placeholder]="l('Kết Quả')" [(ngModel)]="ketQua" name="isActive"
                                    (selectionChange)="getAll()">
                                    <mat-option value="">{{ 'Tất cả' | localize }}</mat-option>
                                    <mat-option value="true">{{ 'Đã Nhận' | localize }}</mat-option>
                                    <mat-option value="false">{{ 'Chưa Nhận' | localize }}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </form>
                    <mat-accordion class="col-md-12">
                        <mat-expansion-panel [expanded]="true" hideToggle="true" disabled="true">
                            <mat-expansion-panel-header style="background-color:#e9e9e9;"
                                class="expansion-panel-header">
                                <mat-panel-title>
                                    {{"CV Ứng Viên Gửi Đi" | localize}}
                                    <div class="btn-action">
                                        <button mat-raised-button (click)="exportExcel()">
                                            {{ "Xuất Excel" | localize }}
                                        </button>
                                    </div>
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <div class="body table-responsive">
                                <table class="table table-hover table-striped gs-table" [busy]="isTableLoading" matSort
                                    (matSortChange)="sortData($event)">
                                    <thead>
                                        <tr>
                                            <th mat-sort-header="hoTen">{{ "Họ Tên" | localize }}</th>
                                            <th mat-sort-header="sdt">{{ "Số Điện Thoại" | localize }}</th>
                                            <th mat-sort-header="email">{{ "Email" | localize }}</th>
                                            <th mat-sort-header="nguyenVong">{{ "Vị Trí Ứng Tuyển" | localize }}</th>
                                            <th mat-sort-header="ctyNhan">{{ "Công Ty" | localize }}</th>
                                            <th mat-sort-header="ngayHoTro">{{ "Ngày Gửi" | localize }}</th>
                                            <th mat-sort-header="NgayPhongVancd">{{ "Ngày Phỏng Vấn" | localize }}</th>
                                            <th mat-sort-header="ketQua">{{ "Kết Quả" | localize }}</th>
                                            <th>{{l('Tính Năng')}}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let employee of employees | paginate: {
                                                    id: 'server',
                                                    itemsPerPage: pageSize,
                                                    currentPage: pageNumber,
                                                    totalItems: totalItems
                                                  }
                                                  ">

                                            <td>{{ employee.hoTen }}</td>
                                            <td>{{ employee.sdt}}</td>
                                            <td>{{ employee.email }}</td>
                                            <td>{{ employee.nguyenVong }}</td>
                                            <td>{{ employee.ctyNhan}}</td>
                                            <td>{{ employee.ngayHoTro?.format("L")}}</td>
                                            <td>{{ employee.ngayPhongVan?.format("L")}}</td>
                                            <td>
                                                <span class="btn btn-danger" *ngIf="!employee.ketQua">Chưa nhận</span>
                                                <span class="btn btn-success" *ngIf="employee.ketQua">Đã nhận</span>
                                            </td>
                                            <td>
                                                <button class="action-button" mat-icon-button
                                                    [matMenuTriggerFor]="actionsMenu">
                                                    <mat-icon>menu</mat-icon>
                                                </button>
                                                <mat-menu #actionsMenu="matMenu">

                                                    <button mat-menu-item (click)="showAddOrEditPV(employee.id)" class="btn-edit">
                                                        <mat-icon>assignment</mat-icon>
                                                        <span>{{ "Hẹn PV" | localize }}</span>
                                                    </button>

                                                    <button mat-menu-item (click)="editCV(employee)" class="btn-edit">
                                                        <mat-icon>edit</mat-icon>
                                                        <span>{{ "Chỉnh Sửa" | localize }}</span>
                                                    </button>

                                                    <button mat-menu-item (click)="approve(employee)" class="btn-edit">
                                                        <mat-icon>done</mat-icon>
                                                        <span>{{ "Đã Nhận" | localize }}</span>
                                                    </button>


                                                    <button mat-menu-item (click)="discard(employee)" class="btn-edit">
                                                        <mat-icon>clear</mat-icon>
                                                        <span>{{ "Hủy Nhận" | localize }}</span>
                                                    </button>
                                                    <button mat-menu-item (click)="chuyenVeQLCV(employee)"
                                                        class="btn-edit">
                                                        <mat-icon>settings_backup_restore</mat-icon>
                                                        <span>{{ "Chuyển Về QLCV" | localize }}</span>
                                                    </button>

                                                    <button mat-menu-item (click)="delete(employee)">
                                                        <mat-icon>delete</mat-icon>
                                                        <span>{{ "Xóa" | localize }}</span>
                                                    </button>

                                                </mat-menu>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                                <mat-paginator [length]="totalItems" [pageSize]="pageSize"
                                    [pageSizeOptions]="[5, 10, 25, 100, 500, 1000,10000]"
                                    (page)="onChangedPanigation($event)">
                                </mat-paginator>

                                <div class="abp-pagination-controls-wrapper" *ngIf="totalItems > pageSize">
                                    <abp-pagination-controls (pageChange)="getDataPage($event)" id="server">
                                    </abp-pagination-controls>
                                </div>
                            </div>

                        </mat-expansion-panel>
                    </mat-accordion>
                </div>
            </div>
        </div>
    </div>
</div>
