<mat-tab-group mat-align-tabs="start">
    <mat-tab label="Quản lý chung">
        <app-cvmoi></app-cvmoi>
    </mat-tab>
    <mat-tab label="Đã gửi CV">
        <app-da-gui-cv></app-da-gui-cv>
    </mat-tab>
    <mat-tab label="Có lịch PV">
        <app-lich-pv></app-lich-pv>
    </mat-tab>
    <mat-tab label="PV chưa có kết quả">
        <app-pvchua-ket-qua></app-pvchua-ket-qua>
    </mat-tab>
    <mat-tab label="Đã nhận">
        <app-da-nhan-pv></app-da-nhan-pv>
    </mat-tab>
  </mat-tab-group>
